.wrapper{
    font-family: 'Black Ops One', cursive;
    text-align: left;

}

.first{
    color: #00537c;
}

.second{
    color: #006da3;
}

.third{
    color: #0088cc;
}

.fourth{
    color: #0097e2;
}